li {
  list-style: none;
}

header {
  height: 64px;
  background-color: #333;
  color: #fff;
}

.header-left {
  position: absolute;
  top: 20px;
}

.site-title {
  font-size: 30px;
}

.header-right {
  display: flex;
  justify-content: space-around;
  width: 40%;
  position: absolute;
  top: 0;
  left: 60%;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.blog-contents {
  width: 50%;
}

.blog-title {
  margin: 40px 0;
  font-size: 50px;
}

.date {
  margin-bottom: 20px;
  font-size: 20px;
}

.picture {
  width: 360px;
}

.menus {
  width: 240px;
  margin-left: 20px;
  position: absolute;
  top: 64px;
  left: 50%;
}

.menu {
  margin-top: 30px;
  border: solid 1px #ccc;
  border-radius: 10px;
}

.menu-title {
  padding: 10px 20px;
  background-color: #ccc;
}

.menu-content {
  padding: 20px;
  border-top: solid 1px #ccc;
}

footer {
  height: 200px;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
}

.copyright {
  font-size: 20px;
  line-height: 200px;
}

@media (max-width: 500px) {
  .header-left {
    position: static;
    display: flex;
    justify-content: center;
  }

  .header-right {
    position: relative;
    top: -5px;
    left: 30%;
  }

  .blog-contents {
    width: 100%;
  }

  .picture {
    width: 100vw;
  }

  .menus {
    margin: 0;
    width: 100%;
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    width: 33%;
    margin: 0;
    position: static;
  }
}
